
 #css-whatsapp{position:fixed;background:#fff;width:350px;border-radius:10px;box-shadow:0 1px 15px rgba(32,33,36,.28);bottom:90px;right:30px;overflow:hidden;z-index:99;animation-name:showchat;animation-duration:0.4s;transform:scale(1)}
 a.adb-whatsapp {
     background: #4FCE5D;
     color: #fff;
     position: fixed;
     z-index: 98;
     bottom: 100px;
     right: 22px;
     font-size: 15px;
     padding: 20px 25px;
     border-radius: 30px;
     box-shadow: 0 1px 15px rgba(32,33,36,.28);
     box-shadow: 0 2px 6px 4px rgba(59, 184, 78, 0.24);
     -webkit-box-shadow: 0 2px 6px 4px rgba(59, 184, 78, 0.24);
     -moz-box-shadow: 0 2px 6px 4px rgba(59, 184, 78, 0.24);
 }
 a.adb-whatsapp i{transform:scale(2.5);margin:0 0 0 0}
 @media (max-width: 768px){
 a.adb-whatsapp {
     right: 20px;
 }
 }
 .adb-header {
     color: #fff;
     padding: 20px;
 }
 .adb-header h3 {
     margin: 0 0 10px;
     font-size: 14px;
 }
 .adb-header p{font-size:14px;line-height:1.7;margin:0}
 .adb-avatar{position:relative}.adb-avatar img{border-radius:100%;width:50px;float:left;margin:0 10px 0 0}
 .adb-avatar::before {
     bottom: 0px;
     right: 0px;
     width: 10px;
     height: 10px;
     box-sizing: border-box;
     background-color: rgb(74, 213, 4);
     display: block;
     position: absolute;
     z-index: 1;
     border-radius: 50%;
     border-width: 2px;
     border-style: solid;
     border-color: rgb(255, 255, 255);
     border-image: initial;
     top: 39px;
     left: 36px;
 }
 a.adb-dual{padding:20px;display:block;overflow:hidden;animation-name:showhide;animation-duration:0.6s}
 a.adb-dual:hover{background-color: rgb(230, 221, 212);}
 .adb-dual {
     background-color: #fff;
     position: relative;
     max-height: 382px;
     padding: 20px 20px 20px 10px;
     overflow: auto;
 }
 .my-info-chat-2 span {
     display: block;
 }
 .my-info-chat span{display:block}
 span.adb-base{font-size:12px;color:#333;}
 span.adb-base-2{font-size:12px;color:#888;}
 #box-label-w{font-size:12px;color:#888}
 span.adb-base-b{margin:5px 0 0;font-size:15px;font-weight:700;color: #333;}
 span.adb-base-b-2{margin:5px 0 0;font-size:12px;font-weight:200;color:#fff;}
 #box-w-r{margin:5px 0 0;font-size:15px;font-weight:700;color:#222}
 #box-label-w,#box-w-r{color:#fff;}
 span.number-whatsapp{display:none}
 .mensaje-whatsapp{color:#444;padding:20px;font-size:12.5px;text-align:center;border-top:1px solid #ddd}
 textarea#chat-input{border:none;width:80%;height:40px;outline:none;resize:none}
 a#send-to-whatsapp{color:#555;margin:3px 0 0 7px;font-weight:700;padding:10px 3px;background:#eee;border-radius:10px}
 .trix-one {
     background-color: rgb(230, 221, 212);
     padding: 30px;
     position: relative;
     overflow: auto;
 }
 .trix-one::before {
     display: block;
     position: absolute;
     left: 0px;
     top: 0px;
     height: 100%;
     width: 100%;
     z-index: 0;
     opacity: 0.08;
     background-image: url(https://1.bp.blogspot.com/-x7Ylv3Y6fvQ/Xulsc41aP1I/AAAAAAAAAFw/g9fr43WIC1UGyLOn0E0lLhAyi2ktCJxuQCLcBGAsYHQ/s1600/whatsapp.webp);
 
 }
 
 .trix-one span {
     color: #333;
     font-size: 14.2px;
     line-height: 2;
     display: inline-block;
     max-width: calc(100% - 66px);
     padding: 7px 14px 6px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 24px 0px;
     flex-direction: column;
     background-color: rgb(255, 255, 255);
     transform: translate3d(0px, 0px, 0px);
     opacity: 1;
     pointer-events: all;
     visibility: visible;
     touch-action: auto;
     bottom: 0px;
     right: 0px;
     left: auto;
     margin-right: 20px;
     border-radius: 0px 10px 9px;
     transition: opacity 0.3s ease 0s, margin 0.3s ease 0s, visibility 0.3s ease 0s;
 }
 .trix-one span::before {
     position: absolute;
     background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
     background-size: contain;
     top: 0px;
     left: -12px;
     width: 12px;
     height: 19px;
     background-position: 50% 50%;
     background-repeat: no-repeat;
 }
 .caja-chat .mensaje-whatsapp{display:flex}#go-number{display:none}
 a.close-chat {
     position: absolute;
     top: 5px;
     right: 15px;
     color: #000;
     font-size: 23px;
 }
 @keyframes showhide{from{transform:scale(.5);opacity:0}}@keyframes showchat{from{transform:scale(0);opacity:0}}
 @media screen and (max-width:480px){#css-whatsapp{width:auto;left:5%;right:5%;font-size:80%}}
 .hide{display:none;animation-name:showhide;animation-duration:1.5s;transform:scale(1);opacity:1}
 .show{display:block;animation-name:showhide;animation-duration:0.1s;transform:scale(1);opacity:1}
 .my-info-chat-2 {
     display: flex;
 }
 .my-info-chat-2 .box-6 {
     margin-right: 20px;
 }
 .my-info-chat-2 .box-7 {
     width: 250px;
     line-height: 1.6;
 }
 .fr-user {
     font-size: 11px;
     color: rgba(0, 0, 0, 0.4);
 }
 .red {
     background-color: #f44336;
 }
 .pink {
     background-color: #e91e63;
 }
 .purple {
     background-color: #9c27b0;
 }
 .deep-purple {
     background-color: #673ab7;
 }
 .indigo {
     background-color: #3f51b5;
 }
 .blue {
     background-color: #2196f3;
 }
 .light-blue {
     background-color: #03a9f4;
 }
 .cyan {
     background-color: #00bcd4;
 }
 .teal {
     background-color: #009688;
 }
 .green {
     background-color: #4caf50;
 }
 .light-green {
     background-color: #8bc34a;
 }
 .lime {
     background-color: #cddc39;
 }
 .yellow {
     background-color: #ffeb3b;
 }
 .amber {
     background-color: #ffc107;
 }
 .orange {
     background-color: #ff9800;
 }
 .deep-orange {
     background-color: #ff5722;
 }
 .brown {
     background-color: #795548;
 }
 .grey {
     background-color: #9e9e9e;
 }
 .grey-darken-4 {
     background-color: #212121;
 }
 .black {
     background-color: #000000;
 }
 .blue-grey {
     background-color: #607d8b;
 }  

 .st0{fill:#4267B2;}
         .st1{fill:url(#SVGID_1_);}
         .st2{fill:#FFFFFF;}
         .st3{fill:#C2191E;}
         .st4{fill:#1DA1F3;}
         .st5{fill:#FEFE00;}
         .st6{fill:#25D366;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
         .st7{fill:#CB2027;}
         .st8{fill:#0077B5;}
         .st9{fill:url(#SVGID_2_);}
         .st10{fill:url(#SVGID_3_);}
         .st11{fill:#FF004F;}
         .st12{fill:#00F7EF;}
         .st13{fill:#5181B8;}
         .st14{fill:#395976;}
         .st15{fill:#F58220;}
         .st16{fill:#E6162D;}
         .st17{fill:#FF9933;}